table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    background-color: #cce7e8;
}

th, td {
    border: 1px solid #d4d4d4;
    padding: 8px;
}

th {
    background-color: #85c1c1;
}

.shapes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.shapes div {
    width: 100px;
    height: 60px;
    margin: 10px;
    border: 2px solid #b0e57c;
}

.shapes .circle {
    border-radius: 50%;
}

.shapes .rounded-rectangle {
    border-radius: 15px;
}